.containerFaq {
    margin-top: 5rem;
    width: 50%;
    height: auto;
}




@media screen and (width <=768px) {
    .containerFaq {
        width: 90%;
    }

    h2 {
        text-align: center;
        padding-bottom: 2rem;
    }

}